# Media dentro de /Public/** (no subir)
Public/**/*.[Pp][Nn][Gg]
Public/**/*.[Jj][Pp][Gg]
Public/**/*.[Jj][Pp][Ee][Gg]
Public/**/*.[Gg][Ii][Ff]
Public/**/*.[Ww][Ee][Bb][Pp]
Public/**/*.[Ss][Vv][Gg]
Public/**/*.[Bb][Mm][Pp]
Public/**/*.[Tt][Ii][Ff]
Public/**/*.[Tt][Ii][Ff][Ff]
Public/**/*.[Aa][Vv][Ii][Ff]
Public/**/*.[Hh][Ee][Ii][Cc]
Public/**/*.[Hh][Ee][Ii][Ff]
Public/**/*.[Jj][Ff][Ii][Ff]

Public/**/*.[Mm][Pp]4
Public/**/*.[Mm][Kk][Vv]
Public/**/*.[Ww][Ee][Bb][Mm]
Public/**/*.[Mm][Oo][Vv]
Public/**/*.[Aa][Vv][Ii]

Public/**/*.[Mm]3
Public/**/*.[Ww][Aa][Vv]
Public/**/*.[Ff][Ll][Aa][Cc]
Public/**/*.[Mm]4[Aa]
Public/**/*.[Oo][Gg][Gg]
Public/**/*.[Oo][Pp][Uu][Ss]

# Típicos
node_modules/
.DS_Store
Thumbs.db
*.log
dist/
build/
.cache/
out/
.env
.env.local
